# This is the Data Cleaning & Validation Challenge!

## Below I have removed the Extra Columns of Unnamed and fix the encoding issue.

In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv("wellcome.csv", encoding ='cp1252')
df.drop(df.columns[[5,6,7,8,9]], axis=1, inplace=True)
df.head()

,PMID/PM,Publisher,Journal tit,Article titl,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psycholog,Reduced,£0.00
1,PMC36795,ACS,Biomacro,Structural,£2381.04
2,23043264,ACS,J Med Che,Fumaroyl,£642.56
3,23438330,ACS,J Med Che,Orvinols,£669.64
4,23438216,ACS,J Org Che,Regiosele,£685.88

## I want to remove/drop all rows that have NAN on it.

In [99]:
new_df = df.dropna()
new_df.head()

,PMID/PM,Publisher,Journal tit,Article titl,COST (£) charged to Wellcome (inc VAT when charged)
1,PMC36795,ACS,Biomacro,Structural,£2381.04
2,23043264,ACS,J Med Che,Fumaroyl,£642.56
3,23438330,ACS,J Med Che,Orvinols,£669.64
4,23438216,ACS,J Org Che,Regiosele,£685.88
5,PMC35794,ACS,Journal of,Comparat,£2392.20

## I want rename the column PMID/PM to PMID and COST (£) charged to Wellcome (inc VAT when charged) to Cost for easier column search.

In [100]:
new_df.rename(columns = {'PMID/PM': 'PMID'}, inplace=True)

C:\Users\cvo.MODIFIEDPOLYMER\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [101]:
new_df.rename(columns = {'COST (£) charged to Wellcome (inc VAT when charged)': 'Cost'}, inplace=True)

C:\Users\cvo.MODIFIEDPOLYMER\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

## Printing out the .head to see a preview of what changes.

In [102]:
new_df.head()

        PMID Publisher Journal tit Article titl      Cost
1   PMC36795       ACS    Biomacro   Structural  £2381.04
2  23043264        ACS   J Med Che     Fumaroyl   £642.56
3   23438330       ACS   J Med Che     Orvinols   £669.64
4   23438216       ACS   J Org Che    Regiosele   £685.88
5   PMC35794       ACS  Journal of     Comparat  £2392.20

## I only want to search PMC follow by digits only.

In [103]:
new_df[new_df['PMID'].str.contains('([A-Z][0-9])')].head()

C:\Users\cvo.MODIFIEDPOLYMER\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

        PMID  Publisher Journal tit Article titl      Cost
1   PMC36795        ACS    Biomacro   Structural  £2381.04
5   PMC35794        ACS  Journal of     Comparat  £2392.20
6   PMC37092        ACS  Journal of      Mapping  £2367.95
14   PMC3413  ACS Publi    Biochemi      Monomer   £665.64
15  PMC36943  ACS Publi  Journal of    Synthesis  £1006.72

## Now I'm removing the $ and £ symbol on the Cost Column to later obtain the mean, medium, variance without error.

In [104]:
new_df['Cost'].replace("[$,£]", '', regex=True).astype(float).head()

1    2381.04
2     642.56
3     669.64
4     685.88
5    2392.20
Name: Cost, dtype: float64

## Determine the five most common journals and the total articles for each.

In [105]:
new_df['Journal tit'].value_counts().head(6)

Journal of    277
PLoS One       91
PLoS ONE       62
Proceedin      39
Molecular      35
American       27
Name: Journal tit, dtype: int64

In [107]:
new_df.loc[new_df['Journal tit'] == "American", 'Cost'].mean()

TypeError: Could not convert £1533.29£1422.25£995.31£2418.34£1891.19£1953.76£2404.53£2296.94£2334.41£2434.04£3938.82£2377.65£2377.65£1834.77£2307.01£2040.00£2040.00£2040.00£1700.00£1646.36£1646.36£1651.30£2465.77£1500.00£1884.30£2373.84£1900.70 to numeric

In [ ]:
new_df.loc[new_df.