In [167]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [168]:
NY_Crime = pd.read_csv('NYM.csv')
NY_Crime.head()

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NEW YORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3,NaN
4,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0,NaN

In [169]:
NY_Crime.columns = NY_Crime.iloc[3]
NY_Crime.head()

3,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,nan
0,NEW YORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3,NaN
4,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0,NaN

In [170]:
NY_Crime = NY_Crime.drop(NY_Crime.index[:4])
NY_Crime.head()

3,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,nan
4,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0,NaN
5,Addison Town and Village,"2,577",3,0,NaN,0,0,3,24,3,20,1,0,NaN
6,Akron Village,"2,846",3,0,NaN,0,0,3,16,1,15,0,0,NaN
7,Albany,"97,956",791,8,NaN,30,227,526,"4,090",705,"3,243",142,NaN,NaN
8,Albion Village,"6,388",23,0,NaN,3,4,16,223,53,165,5,NaN,NaN

In [171]:
NY_Crime = NY_Crime.reset_index(drop=True)
NY_Crime.index.name = None
NY_Crime['Population'] = NY_Crime['Population'].str.replace(",", "")
NY_Crime.head(400)

3,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,nan
0,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0,NaN
1,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0,NaN
2,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0,NaN
3,Albany,97956,791,8,NaN,30,227,526,"4,090",705,"3,243",142,NaN,NaN
4,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN,NaN
5,Alfred Village,4089,5,0,NaN,0,3,2,46,10,36,0,NaN,NaN
6,Allegany Village,1781,3,0,NaN,0,0,3,10,0,10,0,0,NaN
7,Amherst Town,118296,107,1,NaN,7,31,68,"2,118",204,"1,882",32,3,NaN
8,Amityville Village,9519,9,0,NaN,2,4,3,210,16,188,6,1,NaN
9,Amsterdam,18182,30,0,NaN,0,12,18,405,99,291,15,0,NaN
10,Arcade Village,2053,0,0,NaN,0,0,0,39,3,35,1,0,NaN
11,Ardsley Village,4523,5,0,NaN,0,3,2,33,4,28,1,0,NaN
12,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0,NaN
13,Attica Village,2522,2,0,NaN,0,0,2,5,0,4,1,0,NaN
14,Auburn,27270,96,1,NaN,20,22,53,859,132,721,6,NaN,NaN
15,Avon Village,3333,1,0,NaN,0,1,0,25,3,20,2,NaN,NaN
16,Baldwinsville Village,7473,5,0,NaN,0,1,4,88,10,77,1,0,NaN
17,Ballston Spa Village,5418,8,0,NaN,0,3,5,94,16,78,0,1,NaN
18,Batavia,15374,57,0,NaN,7,13,37,559,103,454,2,NaN,NaN
19,Bath Village,5733,15,0,NaN,1,3,11,191,32,157,2,2,NaN
20,Bedford Town,17627,5,0,NaN,0,1,4,156,26,127,3,NaN,NaN
21,Bethlehem Town,34243,13,0,NaN,0,3,10,442,50,388,4,NaN,NaN
22,Binghamton,46304,284,3,NaN,19,101,161,"2,349",525,"1,767",57,NaN,NaN
23,Black River,1410,0,0,NaN,0,0,0,14,2,12,0,0,NaN
24,Blooming Grove Town,12001,8,0,NaN,1,0,7,99,20,72,7,NaN,NaN
25,Bolivar Village,1022,1,0,NaN,0,0,1,4,2,2,0,0,NaN
26,Bolton Town,2325,2,0,NaN,0,0,2,24,4,20,0,0,NaN
27,Boonville Village,2054,1,0,NaN,0,0,1,20,6,14,0,0,NaN
28,Brant Town,2065,4,0,NaN,0,1,3,31,9,20,2,0,NaN
29,Brewster,2358,0,0,NaN,0,0,0,13,3,10,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Utica,61686,361,7,NaN,27,102,225,"2,528",449,"1,997",82,NaN,NaN
322,Vestal Town,27980,16,0,NaN,2,6,8,571,39,523,9,NaN,NaN
323,Walden Village,6887,18,1,NaN,2,1,14,142,13,124,5,NaN,NaN
324,Wallkill Town,27940,40,0,NaN,3,16,21,767,91,650,26,1,NaN
325,Walton Village,3012,6,0,NaN,1,0,5,68,18,50,0,NaN,NaN
326,Warsaw Village,3453,6,0,NaN,1,0,5,78,5,73,0,0,NaN
327,Washingtonville Village,5828,2,0,NaN,0,1,1,58,5,51,2,0,NaN
328,Waterford Town and Village,8392,4,0,NaN,0,0,4,59,6,52,1,0,NaN
329,Waterloo Village,5175,11,0,NaN,0,3,8,194,23,169,2,NaN,NaN
330,Watertown,28179,109,0,NaN,12,16,81,"1,165",169,953,43,NaN,NaN
331,Watervliet,10245,26,1,NaN,3,11,11,242,58,163,21,NaN,NaN
332,Watkins Glen Village,1862,6,0,NaN,0,0,6,92,10,80,2,NaN,NaN
333,Waverly Village,4337,5,0,NaN,0,1,4,54,9,41,4,NaN,NaN
334,Webster Town and Village,43777,21,0,NaN,2,3,16,469,101,361,7,NaN,NaN
335,Weedsport Village,1797,0,0,NaN,0,0,0,25,5,20,0,0,NaN
336,Wellsville Village,4574,11,0,NaN,1,0,10,164,32,129,3,1,NaN
337,Westhampton Beach Village,1732,2,0,NaN,0,0,2,44,4,37,3,0,NaN
338,West Seneca Town,44821,35,1,NaN,1,9,24,896,166,710,20,0,NaN
339,Whitehall Village,2604,6,0,NaN,0,0,6,62,12,49,1,NaN,NaN
340,White Plains,57559,78,1,NaN,3,28,46,"1,232",77,"1,134",21,NaN,NaN
341,Whitesboro Village,3733,4,0,NaN,0,0,4,36,14,21,1,0,NaN
342,Whitestown Town,9141,0,0,NaN,0,0,0,77,13,61,3,0,NaN
343,Woodbury Town,10685,3,0,NaN,0,2,1,541,9,529,3,NaN,NaN
344,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0,NaN
345,Woodstock Town,5931,2,0,NaN,0,0,2,58,13,45,0,NaN,NaN
346,Yonkers,199134,"1,036",6,NaN,25,390,615,"2,368",470,"1,662",236,10,NaN
347,Yorktown Town,36643,15,0,NaN,0,2,13,334,45,287,2,NaN,NaN
348,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
NY_Crime.fillna(0, inplace=True)
NY_Crime.drop(NY_Crime.index[348:], inplace=True)
NY_Crime.head(400)

3,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,nan
0,Adams Village,1861,0,0,0,0,0,0,12,2,10,0,0,0.0
1,Addison Town and Village,2577,3,0,0,0,0,3,24,3,20,1,0,0.0
2,Akron Village,2846,3,0,0,0,0,3,16,1,15,0,0,0.0
3,Albany,97956,791,8,0,30,227,526,"4,090",705,"3,243",142,0,0.0
4,Albion Village,6388,23,0,0,3,4,16,223,53,165,5,0,0.0
5,Alfred Village,4089,5,0,0,0,3,2,46,10,36,0,0,0.0
6,Allegany Village,1781,3,0,0,0,0,3,10,0,10,0,0,0.0
7,Amherst Town,118296,107,1,0,7,31,68,"2,118",204,"1,882",32,3,0.0
8,Amityville Village,9519,9,0,0,2,4,3,210,16,188,6,1,0.0
9,Amsterdam,18182,30,0,0,0,12,18,405,99,291,15,0,0.0
10,Arcade Village,2053,0,0,0,0,0,0,39,3,35,1,0,0.0
11,Ardsley Village,4523,5,0,0,0,3,2,33,4,28,1,0,0.0
12,Asharoken Village,658,0,0,0,0,0,0,2,0,2,0,0,0.0
13,Attica Village,2522,2,0,0,0,0,2,5,0,4,1,0,0.0
14,Auburn,27270,96,1,0,20,22,53,859,132,721,6,0,0.0
15,Avon Village,3333,1,0,0,0,1,0,25,3,20,2,0,0.0
16,Baldwinsville Village,7473,5,0,0,0,1,4,88,10,77,1,0,0.0
17,Ballston Spa Village,5418,8,0,0,0,3,5,94,16,78,0,1,0.0
18,Batavia,15374,57,0,0,7,13,37,559,103,454,2,0,0.0
19,Bath Village,5733,15,0,0,1,3,11,191,32,157,2,2,0.0
20,Bedford Town,17627,5,0,0,0,1,4,156,26,127,3,0,0.0
21,Bethlehem Town,34243,13,0,0,0,3,10,442,50,388,4,0,0.0
22,Binghamton,46304,284,3,0,19,101,161,"2,349",525,"1,767",57,0,0.0
23,Black River,1410,0,0,0,0,0,0,14,2,12,0,0,0.0
24,Blooming Grove Town,12001,8,0,0,1,0,7,99,20,72,7,0,0.0
25,Bolivar Village,1022,1,0,0,0,0,1,4,2,2,0,0,0.0
26,Bolton Town,2325,2,0,0,0,0,2,24,4,20,0,0,0.0
27,Boonville Village,2054,1,0,0,0,0,1,20,6,14,0,0,0.0
28,Brant Town,2065,4,0,0,0,1,3,31,9,20,2,0,0.0
29,Brewster,2358,0,0,0,0,0,0,13,3,10,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,Tupper Lake Village,3642,3,0,0,0,0,3,83,22,59,2,0,0.0
319,Tuxedo Park Village,615,0,0,0,0,0,0,0,0,0,0,0,0.0
320,Ulster Town,12195,14,0,0,3,2,9,437,25,410,2,0,0.0
321,Utica,61686,361,7,0,27,102,225,"2,528",449,"1,997",82,0,0.0
322,Vestal Town,27980,16,0,0,2,6,8,571,39,523,9,0,0.0
323,Walden Village,6887,18,1,0,2,1,14,142,13,124,5,0,0.0
324,Wallkill Town,27940,40,0,0,3,16,21,767,91,650,26,1,0.0
325,Walton Village,3012,6,0,0,1,0,5,68,18,50,0,0,0.0
326,Warsaw Village,3453,6,0,0,1,0,5,78,5,73,0,0,0.0
327,Washingtonville Village,5828,2,0,0,0,1,1,58,5,51,2,0,0.0
328,Waterford Town and Village,8392,4,0,0,0,0,4,59,6,52,1,0,0.0
329,Waterloo Village,5175,11,0,0,0,3,8,194,23,169,2,0,0.0
330,Watertown,28179,109,0,0,12,16,81,"1,165",169,953,43,0,0.0
331,Watervliet,10245,26,1,0,3,11,11,242,58,163,21,0,0.0
332,Watkins Glen Village,1862,6,0,0,0,0,6,92,10,80,2,0,0.0
333,Waverly Village,4337,5,0,0,0,1,4,54,9,41,4,0,0.0
334,Webster Town and Village,43777,21,0,0,2,3,16,469,101,361,7,0,0.0
335,Weedsport Village,1797,0,0,0,0,0,0,25,5,20,0,0,0.0
336,Wellsville Village,4574,11,0,0,1,0,10,164,32,129,3,1,0.0
337,Westhampton Beach Village,1732,2,0,0,0,0,2,44,4,37,3,0,0.0
338,West Seneca Town,44821,35,1,0,1,9,24,896,166,710,20,0,0.0
339,Whitehall Village,2604,6,0,0,0,0,6,62,12,49,1,0,0.0
340,White Plains,57559,78,1,0,3,28,46,"1,232",77,"1,134",21,0,0.0
341,Whitesboro Village,3733,4,0,0,0,0,4,36,14,21,1,0,0.0
342,Whitestown Town,9141,0,0,0,0,0,0,77,13,61,3,0,0.0
343,Woodbury Town,10685,3,0,0,0,2,1,541,9,529,3,0,0.0
344,Woodridge Village,829,7,0,0,0,0,7,17,8,9,0,0,0.0
345,Woodstock Town,5931,2,0,0,0,0,2,58,13,45,0,0,0.0
346,Yonkers,199134,"1,036",6,0,25,390,615,"2,368",470,"1,662",236,10,0.0
347,Yorktown Town,36643,15,0,0,0,2,13,334,45,287,2,0,0.0

In [173]:
NY_Crime['Population'] = NY_Crime.Population.astype(int)

In [174]:
NY_Crime['Population2'] = (NY_Crime['Population'])*(NY_Crime['Population'])
NY_Crime.head()

3,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,nan,Population2
0,Adams Village,1861,0,0,0,0,0,0,12,2,10,0,0,0.0,3463321
1,Addison Town and Village,2577,3,0,0,0,0,3,24,3,20,1,0,0.0,6640929
2,Akron Village,2846,3,0,0,0,0,3,16,1,15,0,0,0.0,8099716
3,Albany,97956,791,8,0,30,227,526,"4,090",705,"3,243",142,0,0.0,1005443344
4,Albion Village,6388,23,0,0,3,4,16,223,53,165,5,0,0.0,40806544

In [175]:
NY_Crime.rename(columns = {"Murder and\nnonnegligent\nmanslaughter" : 'Murder'}, inplace=True)
NY_Crime.head()

3,City,Population,Violent crime,Murder,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,nan,Population2
0,Adams Village,1861,0,0,0,0,0,0,12,2,10,0,0,0.0,3463321
1,Addison Town and Village,2577,3,0,0,0,0,3,24,3,20,1,0,0.0,6640929
2,Akron Village,2846,3,0,0,0,0,3,16,1,15,0,0,0.0,8099716
3,Albany,97956,791,8,0,30,227,526,"4,090",705,"3,243",142,0,0.0,1005443344
4,Albion Village,6388,23,0,0,3,4,16,223,53,165,5,0,0.0,40806544

In [176]:

NY_Crime['Murder'] = NY_Crime['Murder'].str.replace(",", "")
NY_Crime['Robbery'] = NY_Crime['Robbery'].str.replace(",", "")
NY_Crime['Murder'] = NY_Crime['Murder'].astype(int)
NY_Crime['Robbery'] = NY_Crime['Robbery'].astype(int)

In [177]:
NY_Crime['Murder2'] = NY_Crime['Murder'].apply(lambda x: 'Coded 1' if x > 0 else 'Coded 0')
NY_Crime.head()

3,City,Population,Violent crime,Murder,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,nan,Population2,Murder2
0,Adams Village,1861,0,0,0,0,0,0,12,2,10,0,0,0.0,3463321,Coded 0
1,Addison Town and Village,2577,3,0,0,0,0,3,24,3,20,1,0,0.0,6640929,Coded 0
2,Akron Village,2846,3,0,0,0,0,3,16,1,15,0,0,0.0,8099716,Coded 0
3,Albany,97956,791,8,0,30,227,526,"4,090",705,"3,243",142,0,0.0,1005443344,Coded 1
4,Albion Village,6388,23,0,0,3,4,16,223,53,165,5,0,0.0,40806544,Coded 0

In [178]:
NY_Crime['Robbery2'] = NY_Crime['Robbery'].apply(lambda x: 'Coded 1' if x > 0 else 'Coded 0')
NY_Crime.head(400)

3,City,Population,Violent crime,Murder,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,nan,Population2,Murder2,Robbery2
0,Adams Village,1861,0,0,0,0,0,0,12,2,10,0,0,0.0,3463321,Coded 0,Coded 0
1,Addison Town and Village,2577,3,0,0,0,0,3,24,3,20,1,0,0.0,6640929,Coded 0,Coded 0
2,Akron Village,2846,3,0,0,0,0,3,16,1,15,0,0,0.0,8099716,Coded 0,Coded 0
3,Albany,97956,791,8,0,30,227,526,"4,090",705,"3,243",142,0,0.0,1005443344,Coded 1,Coded 1
4,Albion Village,6388,23,0,0,3,4,16,223,53,165,5,0,0.0,40806544,Coded 0,Coded 1
5,Alfred Village,4089,5,0,0,0,3,2,46,10,36,0,0,0.0,16719921,Coded 0,Coded 1
6,Allegany Village,1781,3,0,0,0,0,3,10,0,10,0,0,0.0,3171961,Coded 0,Coded 0
7,Amherst Town,118296,107,1,0,7,31,68,"2,118",204,"1,882",32,3,0.0,1109041728,Coded 1,Coded 1
8,Amityville Village,9519,9,0,0,2,4,3,210,16,188,6,1,0.0,90611361,Coded 0,Coded 1
9,Amsterdam,18182,30,0,0,0,12,18,405,99,291,15,0,0.0,330585124,Coded 0,Coded 1
10,Arcade Village,2053,0,0,0,0,0,0,39,3,35,1,0,0.0,4214809,Coded 0,Coded 0
11,Ardsley Village,4523,5,0,0,0,3,2,33,4,28,1,0,0.0,20457529,Coded 0,Coded 1
12,Asharoken Village,658,0,0,0,0,0,0,2,0,2,0,0,0.0,432964,Coded 0,Coded 0
13,Attica Village,2522,2,0,0,0,0,2,5,0,4,1,0,0.0,6360484,Coded 0,Coded 0
14,Auburn,27270,96,1,0,20,22,53,859,132,721,6,0,0.0,743652900,Coded 1,Coded 1
15,Avon Village,3333,1,0,0,0,1,0,25,3,20,2,0,0.0,11108889,Coded 0,Coded 1
16,Baldwinsville Village,7473,5,0,0,0,1,4,88,10,77,1,0,0.0,55845729,Coded 0,Coded 1
17,Ballston Spa Village,5418,8,0,0,0,3,5,94,16,78,0,1,0.0,29354724,Coded 0,Coded 1
18,Batavia,15374,57,0,0,7,13,37,559,103,454,2,0,0.0,236359876,Coded 0,Coded 1
19,Bath Village,5733,15,0,0,1,3,11,191,32,157,2,2,0.0,32867289,Coded 0,Coded 1
20,Bedford Town,17627,5,0,0,0,1,4,156,26,127,3,0,0.0,310711129,Coded 0,Coded 1
21,Bethlehem Town,34243,13,0,0,0,3,10,442,50,388,4,0,0.0,1172583049,Coded 0,Coded 1
22,Binghamton,46304,284,3,0,19,101,161,"2,349",525,"1,767",57,0,0.0,2144060416,Coded 1,Coded 1
23,Black River,1410,0,0,0,0,0,0,14,2,12,0,0,0.0,1988100,Coded 0,Coded 0
24,Blooming Grove Town,12001,8,0,0,1,0,7,99,20,72,7,0,0.0,144024001,Coded 0,Coded 0
25,Bolivar Village,1022,1,0,0,0,0,1,4,2,2,0,0,0.0,1044484,Coded 0,Coded 0
26,Bolton Town,2325,2,0,0,0,0,2,24,4,20,0,0,0.0,5405625,Coded 0,Coded 0
27,Boonville Village,2054,1,0,0,0,0,1,20,6,14,0,0,0.0,4218916,Coded 0,Coded 0
28,Brant Town,2065,4,0,0,0,1,3,31,9,20,2,0,0.0,4264225,Coded 0,Coded 1
29,Brewster,2358,0,0,0,0,0,0,13,3,10,0,0,0.0,5560164,Coded 0,Coded 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,Tupper Lake Village,3642,3,0,0,0,0,3,83,22,59,2,0,0.0,13264164,Coded 0,Coded 0
319,Tuxedo Park Village,615,0,0,0,0,0,0,0,0,0,0,0,0.0,378225,Coded 0,Coded 0
320,Ulster Town,12195,14,0,0,3,2,9,437,25,410,2,0,0.0,148718025,Coded 0,Coded 1
321,Utica,61686,361,7,0,27,102,225,"2,528",449,"1,997",82,0,0.0,-489804700,Coded 1,Coded 1
322,Vestal Town,27980,16,0,0,2,6,8,571,39,523,9,0,0.0,782880400,Coded 0,Coded 1
323,Walden Village,6887,18,1,0,2,1,14,142,13,124,5,0,0.0,47430769,Coded 1,Coded 1
324,Wallkill Town,27940,40,0,0,3,16,21,767,91,650,26,1,0.0,780643600,Coded 0,Coded 1
325,Walton Village,3012,6,0,0,1,0,5,68,18,50,0,0,0.0,9072144,Coded 0,Coded 0
326,Warsaw Village,3453,6,0,0,1,0,5,78,5,73,0,0,0.0,11923209,Coded 0,Coded 0
327,Washingtonville Village,5828,2,0,0,0,1,1,58,5,51,2,0,0.0,33965584,Coded 0,Coded 1
328,Waterford Town and Village,8392,4,0,0,0,0,4,59,6,52,1,0,0.0,70425664,Coded 0,Coded 0
329,Waterloo Village,5175,11,0,0,0,3,8,194,23,169,2,0,0.0,26780625,Coded 0,Coded 1
330,Watertown,28179,109,0,0,12,16,81,"1,165",169,953,43,0,0.0,794056041,Coded 0,Coded 1
331,Watervliet,10245,26,1,0,3,11,11,242,58,163,21,0,0.0,104960025,Coded 1,Coded 1
332,Watkins Glen Village,1862,6,0,0,0,0,6,92,10,80,2,0,0.0,3467044,Coded 0,Coded 0
333,Waverly Village,4337,5,0,0,0,1,4,54,9,41,4,0,0.0,18809569,Coded 0,Coded 1
334,Webster Town and Village,43777,21,0,0,2,3,16,469,101,361,7,0,0.0,1916425729,Coded 0,Coded 1
335,Weedsport Village,1797,0,0,0,0,0,0,25,5,20,0,0,0.0,3229209,Coded 0,Coded 0
336,Wellsville Village,4574,11,0,0,1,0,10,164,32,129,3,1,0.0,20921476,Coded 0,Coded 0
337,Westhampton Beach Village,1732,2,0,0,0,0,2,44,4,37,3,0,0.0,2999824,Coded 0,Coded 0
338,West Seneca Town,44821,35,1,0,1,9,24,896,166,710,20,0,0.0,2008922041,Coded 1,Coded 1
339,Whitehall Village,2604,6,0,0,0,0,6,62,12,49,1,0,0.0,6780816,Coded 0,Coded 0
340,White Plains,57559,78,1,0,3,28,46,"1,232",77,"1,134",21,0,0.0,-981928815,Coded 1,Coded 1
341,Whitesboro Village,3733,4,0,0,0,0,4,36,14,21,1,0,0.0,13935289,Coded 0,Coded 0
342,Whitestown Town,9141,0,0,0,0,0,0,77,13,61,3,0,0.0,83557881,Coded 0,Coded 0
343,Woodbury Town,10685,3,0,0,0,2,1,541,9,529,3,0,0.0,114169225,Coded 0,Coded 1
344,Woodridge Village,829,7,0,0,0,0,7,17,8,9,0,0,0.0,687241,Coded 0,Coded 0
345,Woodstock Town,5931,2,0,0,0,0,2,58,13,45,0,0,0.0,35176761,Coded 0,Coded 0
346,Yonkers,199134,"1,036",6,0,25,390,615,"2,368",470,"1,662",236,10,0.0,999644292,Coded 1,Coded 1
347,Yorktown Town,36643,15,0,0,0,2,13,334,45,287,2,0,0.0,1342709449,Coded 0,Coded 1

In [179]:
NY_Crime = NY_Crime[['City', 'Population', 'Population2', 'Murder2', 'Robbery2']]
NY_Crime.head()

3                      City  Population  Population2  Murder2 Robbery2
0             Adams Village        1861      3463321  Coded 0  Coded 0
1  Addison Town and Village        2577      6640929  Coded 0  Coded 0
2             Akron Village        2846      8099716  Coded 0  Coded 0
3                    Albany       97956   1005443344  Coded 1  Coded 1
4            Albion Village        6388     40806544  Coded 0  Coded 1